{{>header}}
<div class="container">
  <main>
    <h1>Browser</h1>
    <form action="" method="get">
      <input type="text" class="search" name="search" placeholder="Search..." value="{{params.search}}">
      <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{params.from}}">
      <span>-</span>
      <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{params.to}}">
      <input type="submit" value="search">
    </form>
    {{#if cubes}}
    {{#each cubes}}
    <div class="cube">
      <img class="cube" src="{{imageUrl}}">
      <p class="name">{{name}}</p>
      <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
      <a class="btn" href="/details/{{_id}}">Details</a>
      <a class="btn" href="/attach/accessory/{{_id}}">Attach</a>
    </div>
    {{/each}}
    {{else}}
    <h1>NO CUBES WERE FOUND</h1>
    {{/if}}
  </main>
</div>
{{>footer}}