{{>header}}
<div id="detailsMovie">
    <h1>Details</h1>
    <div class="movie">
        <h2>Title: {{movies.title}}</h2>
        <img src="{{movies.image}}">
        <p>{{movies.description}}</p>
        <h2>Genres</h2>
        <ul class="genres">
            <li>{{movies.genres}}</li>
        </ul>
        <p>Available Tickets: {{movies.availableTickets}}</p>
        <button><a href="#/buyTicket/{{params.id}}">Buy Ticket</a></button>
    </div>
</div>
{{>footer}}