{{>header}}
<div class="row event-details">
    <div class="col-md-12 text-center overflow-hidden">

        <img class="details-img" src="{{event.eventImage}}" />
        <div class="my-3 p-3">
            <h2 class="display-5">{{event.eventName}}</h2>
            <p class="infoType">Description:</p>
            <p class="event-description">{{event.eventDescription}}</p>
            <p class="infoType">Date: <small>{{event.eventDate}}</small></p>
            <p class="infoType">Peope interested in: <small>{{event.interestedPeople}}</small></p>
            <p class="infoType">Organizer: <small>{{event.organizer}}</small></p>
        </div>
        {{#if organizerCheck}}
        <a href="#/more-details/edit/{{event._id}}" class="btn btn-primary btn-lg">Edit the event</a>
        <a href="#/more-details/delete/{{event._id}}" class="btn btn-danger btn-lg">Close the event</a>
        {{else}}
        <a href="#/joinEvent/{{event._id}}" class="btn btn-info btn-lg">Join the event</a>
        {{/if}}
    </div>
</div>
{{>footer}}